{% extends 'base.html' %}

{% block content %}

<div class="bg-zinc-900 p-6 rounded-3xl border border-zinc-800 max-w-2xl">

    <h2 class="text-2xl font-bold mb-6">
        Edit {{ type }}
    </h2>

    <form method="POST" class="space-y-4">

        {% csrf_token %}

        {% if type == "product" %}

        <div>
            <label class="block mb-2 text-sm text-zinc-300">
                Product Name
            </label>

            <input type="text" name="product_name" value="{{ item.product_name }}"
                class="w-full p-3 rounded-xl bg-zinc-800 border border-zinc-700">
        </div>


        <div>
            <label class="block mb-2 text-sm text-zinc-300">
                Size
            </label>

            <input type="text" name="size" value="{{ item.size }}"
                class="w-full p-3 rounded-xl bg-zinc-800 border border-zinc-700">
        </div>


        <div>
            <label class="block mb-2 text-sm text-zinc-300">
                Unit Price
            </label>

            <input type="text" name="unit_price" value="{{ item.unit_price }}"
                class="w-full p-3 rounded-xl bg-zinc-800 border border-zinc-700">
        </div>


        <div>
            <label class="block mb-2 text-sm text-zinc-300">
                Unit Cost
            </label>

            <input type="text" name="unit_cost" value="{{ item.unit_cost }}"
                class="w-full p-3 rounded-xl bg-zinc-800 border border-zinc-700">
        </div>


        <div>
            <label class="block mb-2 text-sm text-zinc-300">
                Quantity
            </label>

            <input type="text" name="quantity" value="{{ item.quantity }}"
                class="w-full p-3 rounded-xl bg-zinc-800 border border-zinc-700">
        </div>

        {% endif %}

        {% if type == "category" %}

        <div>
            <label class="block mb-2 text-sm text-zinc-300">
                Category Name
            </label>

            <input type="text" name="name" value="{{ item.name }}"
                class="w-full p-3 rounded-xl bg-zinc-800 border border-zinc-700">
        </div>

        {% endif %}

        <button class="bg-emerald-500 px-5 py-3 rounded-xl">
            Update
        </button>

    </form>

</div>

{% endblock %}