<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-zinc-950 min-h-screen flex flex-col justify-between">

    <!-- CENTER -->
    <div class="flex items-center justify-center flex-1">

        <div class="bg-zinc-900 p-8 rounded-3xl w-full max-w-md">

            <h1 class="text-3xl font-bold text-white mb-2 text-center">
                Nyondo System
            </h1>

            <p class="text-zinc-400 text-center mb-6">
                Login to continue
            </p>

            <form method="POST" class="space-y-4">

                {% csrf_token %}

                <input type="text" name="username" placeholder="Username"
                    class="w-full p-3 rounded-xl bg-zinc-800 text-white outline-none">

                <input type="password" name="password" placeholder="Password"
                    class="w-full p-3 rounded-xl bg-zinc-800 text-white outline-none">


                <button class="w-full bg-emerald-500 hover:bg-emerald-600 p-3 rounded-xl font-semibold text-white">
                    Login
                </button>

            </form>

        </div>

    </div>


    <!-- FOOTER -->
    <footer class="text-center text-zinc-500 text-sm p-4">
        Nyondo Inventory System
    </footer>

</body>

</html>