{% extends 'base.html' %}

{% block content %}

<div class="bg-zinc-900 p-6 rounded-3xl border border-zinc-800">

    <!-- HEADER -->

    <div class="flex justify-between items-center mb-6">

        <div>

            <h1 class="text-2xl font-bold">
                Sales
            </h1>

            <p class="text-zinc-400 text-sm">
                All Registered Sales
            </p>

        </div>

        <a href="{% url 'addsale' %}"
           class="bg-green-600 px-5 py-3 rounded-2xl">

            Add Sale

        </a>

    </div>

    <!-- TABLE -->

    <div class="overflow-x-auto">

        <table class="w-full">

            <thead>

                <tr class="border-b border-zinc-800 text-left">

                    <th class="p-3">Receipt</th>
                    <th class="p-3">Customer</th>
                    <th class="p-3">Product</th>
                    <th class="p-3">Category</th>
                    <th class="p-3">Quantity</th>
                    <th class="p-3">Unit Price</th>
                    <th class="p-3">Total</th>
                    <th class="p-3">Paid</th>
                    <th class="p-3">Balance</th>
                    <th class="p-3">Date</th>

                </tr>

            </thead>

            <tbody>

                {% for sale in sales %}

                <tr class="border-b border-zinc-800 hover:bg-zinc-800/40">

                    <td class="p-3">
                        {{ sale.receipt }}
                    </td>

                    <td class="p-3">
                        {{ sale.customer }}
                    </td>

                    <td class="p-3">
                        {{ sale.product_name }}
                    </td>

                    <td class="p-3">
                        {{ sale.categories }}
                    </td>

                    <td class="p-3">
                        {{ sale.quantity }}
                    </td>

                    <td class="p-3">
                        {{ sale.unit_price }}
                    </td>

                    <td class="p-3">
                        {{ sale.total_amount }}
                    </td>

                    <td class="p-3">
                        {{ sale.amount_paid }}
                    </td>

                    <td class="p-3">
                        {{ sale.balance }}
                    </td>

                    <td class="p-3">
                        {{ sale.date }}
                    </td>

                </tr>

                {% empty %}

                <tr>

                    <td colspan="10" class="p-5 text-center text-zinc-400">

                        No Sales Found

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}