{% extends 'base.html' %}

{% block title %}Inventory{% endblock %}

{% block content %}

<div class="grid grid-cols-3 gap-6">

    <!-- 🔹 LEFT: FORM -->
    <div class="col-span-1 bg-zinc-900 p-5 rounded-3xl">

        <h2 class="text-lg font-semibold mb-4">Add Stock</h2>

        <form method="POST" class="space-y-3">
            {% csrf_token %}

            <input type="text" name=" product_name" placeholder="Product "
                class="w-full p-2 rounded-xl bg-zinc-800 outline-none">

            <input type="number" name="quantity" placeholder="Quantity"
                class="w-full p-2 rounded-xl bg-zinc-800 outline-none">

            <input type="text" name="categories" placeholder="Categories"
                class="w-full p-2 rounded-xl bg-zinc-800 outline-none">

            <input type="text" name="Supplier" placeholder="Supplier"
                class="w-full p-2 rounded-xl bg-zinc-800 outline-none">

            <input type="text" name="payment_status" placeholder="Payment status"
                class="w-full p-2 rounded-xl bg-zinc-800 outline-none">

            <button class="w-full bg-emerald-500 hover:bg-emerald-600 p-2 rounded-xl font-semibold">
                Add Stock
            </button>

        </form>
    </div>


    <!-- 🔹 RIGHT: TABLE -->
    <div class="col-span-2 bg-zinc-900 p-4 rounded-3xl">

        <h2 class="text-lg font-semibold mb-4">Stock</h2>

        <div class="overflow-x-auto">
            <table class="w-full text-sm">

                <thead class="bg-zinc-800 text-zinc-300">
                    <tr>
                        <th class="p-3 text-left">Product </th>
                        <th class="p-3 text-left">Quantity</th>
                        <th class="p-3 text-left">Categories</th>
                        <th class="p-3 text-left">Unit cost</th>
                        <th class="p-3 text-left">Total Amount</th>
                        <th class="p-3 text-left">Supplier</th>
                        <th class="p-3 text-left">Payment Status</th>
                        <th class="p-3 text-left">Action</th>
                        <th class="p-3 text-left">Last Updated</th>
                    </tr>
                </thead>

                <tbody>

                    {% for stock in stocks %}

                    <tr class="border-b border-zinc-800">

                        <td class="p-3">
                            {{ stock.product_name }}
                        </td>

                        <td class="p-3">
                            {{ stock.quantity }}
                        </td>

                        <td class="p-3">
                            {{ stock.categories }}
                        </td>

                        <td class="p-3">
                            {{ stock.supplier }}
                        </td>

                        <td class="p-3">
                            {{ stock.payment_status }}
                        </td>

                        <td class="p-3">
                            {{ stock.updated_at }}
                        </td>

                        <td class="p-3 flex gap-2">


                        <td class="p-3 flex gap-2">
                            <a href="update/"
                                class="bg-emerald-500/20 hover:bg-emerald-500/30 text-emerald-400 px-3 py-1.5 rounded-xl text-xs flex items-center gap-1">
                                <i class="fa-solid fa-pen"></i>
                                Update
                            </a>

                        </td>


                        <td class="p-3">Today</td>
                    </tr>

                    </a>

                </tbody>
                {% endfor %}
            </table>
            <a href="/products/"
                class="bg-emerald-500/20 hover:bg-emerald-500/30 text-emerald-400 px-4 py-2 rounded-xl text-sm">

                Add Product

            </a>

            <a href="/categories/"
                class="bg-emerald-500/20 hover:bg-emerald-500/30 text-emerald-400 px-4 py-2 rounded-xl text-sm">

                Add Categories

            </a>
        </div>

    </div>

</div>

{% endblock %}